@import url('https://fonts.googleapis.com/css?family=Lato:700');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-width: 320px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, sans-serif;
}